.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #f71b85;
  padding: .4rem;
  text-align: center;
  box-sizing: border-box;
}

.footer p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
  color: #0b3685;
}
